# Домашнее задание №3

Во всех задачах для ввода данных используйте `input()`, а для вывода данных используйте `print()`

## Задача №1

**Условие:** Необходимо ввести с клавиатуры последовательность натуральных чисел, каждое число на новой строке. Последовательность завершается числом 0. Необходимо найти наибольший элемент в последовательности.

**Пример для проверки:**  
*Входные данные*     
1                       
8  
4  
0  
*Выходные данные*   
8

In [20]:
current = int(input())
mn = current
while current:
    mn = min(current, mn)
    current = int(input())
print(mn)

5
3
19
55
43
23
89
43
88
32
81
12
89
11
0
3

## Задача №2

**Условие:** Дана строка. Необходимо удалить из этой строки все символы %. Для решения задачи используйте цикл.

**Пример для проверки:**  
*Входные данные*  
GHRE%%%%fd%dfjkan%%fleo%%%%r%fe%  
*Выходные данные*  
GHREfddfjkanfleorfe

In [3]:
answer = ''
for char in input():
    if char != '%':
        answer = ''.join([answer, char])
print(answer)

ds
ds

## Задача №3

**Условие:** Даны два целых числа A и B (при этом A ≤ B). Выведите все числа от A включительно до B включительно (математическая запись - [A, B]).

**Пример для проверки:**  
*Входные данные*  
1  
10  
*Выходные данные*  
1 2 3 4 5 6 7 8 9 10

In [5]:
for number in range(int(input()), int(input()) + 1):
    print(number, end=' ')

-5
12
-5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10 11 12

## Задача №4

**Условие:** Необходимо ввести с клавиатуры 10 целых чисел. Вычислите сумму введенных чисел. 

**Пример для проверки:**  
*Входные данные*  
8  
4  
5  
3  
9  
2  
3   
4  
5  
1  
*Выходные данные*  
44

In [6]:
sm = 0
for i in range(10):
    sm += int(input())
print(sm)

758
483
893
393
293
292
292
485
828
183
4900

## Задача №5

**Условие:** Факториалом числа n называется произведение 1 * 2 * ... * n. Обозначение: n!.
Введите с клавиатуры натуральное число n. Вычислите значение n!. 

В решении задачи нельзя использовать математическую библиотеку math.

**Пример для проверки:**  
*Входные данные*  
7  
*Выходные данные*  
5040

In [7]:
f = 1
for i in range(int(input())):
    f *= i + 1
print(f)

12
479001600